<div class="ui text container" id="article-body">
    <%-
        (content || article.content) /* .replace(/<\/p>/i, '</p>' + partial('semantic-overlay')) */
    %>
    <div class="ui grid">
        <div class="sixteen wide column">
            <%- partial('semantic-categories', {categories: article.categories}) %>
            <%- partial('semantic-tags', {tags: article.tags}) %>
        </div>
    </div>
</div>
