<%
    /* TODO: sort by path, arrange into submenus */
    var categorySorter = function(a, b) {
        var keyA = a.name;
        var keyB = b.name;
        if (keyA < keyB) { return -1 };
        if (keyA > keyB) { return  1 };
        return 0;
    }
    var sortedCategories = [];
    site.categories.forEach(function(category) { sortedCategories.push(category); });
    sortedCategories.sort(categorySorter);
%>
<div class="ui borderless main menu">
    <div class="ui text container">
        <a href="<%- config.root %>">
            <div href="#" class="header item">
                <%- image_tag('/assets/galaxy-1294347.png', {class: 'logo', width: 40, height: 40}) %>
                Astral Frontier
            </div>
        </a>
        <a href="/about.html" class="hidden-on-mobile item">About</a>
        <a href="/work.html" class="hidden-on-mobile item">Work</a>
        <div class="hidden-on-mobile ui search item" id="site-search">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search" />
                <i class="search icon"></i>
            </div>
        </div>
        <div class="ui right floated item">
            <button class="ui icon button" onClick="showSidebar()">
                <i class="sidebar icon"></i>
            </button>
        </div>
    </div>
</div>