- unless @page.flagged_as?("no-breadcrumbs")
  .row
    .large-12.columns
      - display_breadcrumbs class: "breadcrumbs"
- if @page.flagged_as?("full-width")
  = haml :page_content
- else
  .row
    .large-12.columns{role: "content"}
      = haml :page_content
.row
  .small-12.columns
    = haml :social_sharing, layout: false
