@import "normalize";
@import "astralfrontier";
@import "foundation";

html {
  background-color: $body-bg;
}

body {
  background-color: $body-bg;
  background-image: url('/attachments/art/golarion-map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

body > .row > .columns {
  background-color: transparentize($body-bg, 0.1);
}

article {
  padding-left: 1em;
  padding-right: 1em;
}
