$my_bookshelf_catcher: #DAD8C5;
$my_bookshelf_mercury: #C5B8B0;
$my_bookshelf_host: #A39691;
$my_bookshelf_silmarillion: #587189;
$my_bookshelf_night_and_day: #222731;

@import "normalize";
@import "astralfrontier";

$primary-color: $my_bookshelf_catcher;
$secondary-color: $my_bookshelf_night_and_day;
$body-bg: $my_bookshelf_host;
$header-font-color: $my_bookshelf_catcher;

$crumb-bg: $my_bookshelf_night_and_day;
$crumb-font-color-current: $my_bookshelf_mercury;

@import "foundation";

body > .row > .columns {
  background-color: transparentize($body-bg, 0.08);
}

html, body {
  background-image: url('/attachments/art/1024px-Bookshelf.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
