@import url("http://fonts.googleapis.com/css?family=Droid+Serif");
@import url("http://fonts.googleapis.com/css?family=Droid+Sans");

@import "bootstrap.less";
@import "bootswatch.less";

/* For sticky navbar */
body {
  padding-top: 70px;
}

#social_media {
  font-size: 24px;
}

.review-thumbnail {
  max-width: 64px;
  max-height: 64px;
}
