$header-font-family: "Droid Serif", serif;
$body-font-family: "Gudea", sans-serif;
$font-smoothing: antialiased;
$crumb-bg: #fff;

// See https://github.com/zurb/foundation/issues/2724
.f-dropdown {
  left: -99999px;
}
