extends ./fullpage.jade

block title
  if pagination.num == 1
    | Astral Frontier
  else
    = "Blog Posts page " + pagination.num

block main
  h1 Astral Frontier Blog
  div.container
    div.row
      div.col-md-12
        for post in pagination.files
          h4
            a(href="/"+post.path)= post.title
            small &nbsp;- #{post.date.toDateString()}
          != post.less
    include ./pagination.jade
