extends ./sidebar-right.jade

block main
  h1= title
  small Posted on #{date.toDateString()}
  != contents

block sidebar
  h2 Recent posts
  ul
    for post in collections.blog.slice(0, 10)
      li
        a(href="/"+post.path)= post.title
        br/
        small Posted on #{post.date.toDateString()}
