extends ./fullpage.jade

block main
  h1 Reviews
  div.container
    div.row
      for review in pagination.files
        div.col-md-4
          a(href="/"+review.path)
            h2= review.title
          p= review.synopsis
    include ./pagination.jade
