extends ./basic.jade

block contents
  include ./nav.jade
  div.container
    div.row
      div.grid(data-masonry='{ "itemSelector": ".col-md-4" }')
        for entry in yaml_contents.entries
          div.col-md-4
            include ./entry.jade
