nav.navbar.navbar-default.navbar-fixed-top
  div.container-fluid
    div.navbar-header
      button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#site-navbar-collapse" aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") Astral Frontier
    div.collapse.navbar-collapse#site-navbar-collapse
      ul.nav.navbar-nav
        for item in nav
          if new RegExp(item.regex).test(path)
            li.active
              a(href=item.path)= item.label
          else
            li
              a(href=item.path)= item.label
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/search.html")
            i.fa.fa-search
        li
          a(href="/rss.xml")
            i.fa.fa-rss
        li.dropdown
          a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
            i.fa.fa-share-alt
          ul.dropdown-menu
            for site in social_media
              li
                a(href=site.url)
                  i.fa(class="fa-#{site.icon}")
                  | &nbsp;
                  = site.name
