extends ./fullpage.jade

block main
  h1 Reviews
  div.container
    div.row
      div.col-md-12
        ul.media-list
          for review in pagination.files
            li.media
              div.media-left
                if review.thumbnail
                  a(href="/"+review.path)
                    img.media-object(src=review.thumbnail)
              div.media-body
                h4.media-heading
                  a(href="/"+review.path)= review.title
                p= review.synopsis
    include ./pagination.jade
