extends ./fullpage.jade

block title
  | Blog posts

block main
  h1 Blog
  div.container
    div.row
      div.col-md-12
        for post in pagination.files
          h4
            a(href="/"+post.path)= post.title
            small &nbsp;- #{post.date.toDateString()}
          p= post.synopsis
    include ./pagination.jade
