---
title: Fiction
template: basic.jade
---

div.container
  div.row
    div.col-md-6
      h1 Masque
      p Stories set in a "realistic" superhero universe. TODO description.
    div.col-md-6
      h2 Stories
      ul
        for story in collections.masque
          li
            a(href=story.path)= story.title
            if story.synopsis
              br/
              small= story.synopsis
