---
title: Song of Eden
template: basic.jade
---

div.container
  div.row
    div.col-md-12
      h1= title
      p This is a science fiction setting, a thousand years after a roleplaying game that I ran. Mankind is exploring the stars, finding new ways to live, and searching for paradise.
      p The setting has some specific technological and cultural assumptions. These stories try to present examples of those assumptions at work.
  div.row
    div.col-md-4
      h4 Space Travel
      p Traveling from planet to planet, and how spaceships work.
      ul
        li
          a(href="/fiction/song-of-eden/visit-to-hallows-gate.html") A Visit to Hallows Gate
        li
          a(href="/fiction/song-of-eden/ast231.html") AST-231
        li
          a(href="/fiction/song-of-eden/brachiation.html") Brachiation
        li
          a(href="/fiction/song-of-eden/dock.html") The Dock
        li
          a(href="/fiction/song-of-eden/war-in-heaven.html") War in Heaven
    div.col-md-4
      h4 Life
      p Daily life, professions, social values, religion, and more.
      ul
        li
          a(href="/fiction/song-of-eden/captains-wife.html") The Captain's Wife
        li
          a(href="/fiction/song-of-eden/chaotician.html") The Chaotician
        li
          a(href="/fiction/song-of-eden/fields-of-gold.html") Fields of Gold
        li
          a(href="/fiction/song-of-eden/warrior.html") The Warrior
    div.col-md-4
      h4 The Solar System
      p Specific conditions on Earth and on neighboring planets.
      ul
        li
          a(href="/fiction/song-of-eden/atlantis-civil-war.html") The Atlantis Civil War
        li
          a(href="/fiction/song-of-eden/cabal.html") The Cabal
        li
          a(href="/fiction/song-of-eden/life-in-the-city-of-hubris.html") Life in the City of Hubris
        li
          a(href="/fiction/song-of-eden/uncle-joe.html") Uncle Joe
