<%- partial('_partial/semantic-main-menu') %>
<div class="ui text container">
    <%- partial('_partial/articles', {articles: page.posts}) %>
    <%- partial('_partial/pagination') %>
</div>
<%- partial('_partial/semantic-footer') %>