<!DOCTYPE html>
<html lang="en">
    <%- partial('_partial/head') %>
    <body>
        <%- partial('_partial/sidebar') %>
        <div class="pusher">
            <%- body %>
        </div>
        <%- js('js/index.js') %>
    </body>
</html>
