---
title: Fiction
template: basic.jade
---

div.container
  div.row
    div.col-md-4
      h2 Masque
      p Stories set in a "realistic" superhero universe.
      p
        a.btn.btn-default(role="button" href="/fiction/masque.html") Read more &raquo;

      h2 Vessels
      p A fantasy RPG setting focused on power, ideas, and emotion.
      p
        a.btn.btn-default(role="button" href="/fiction/vessels.html") Read more &raquo;

      h2 Villains Victorious!
      p A post-a-day blog, now discontinued, on how to be an effective supervillain.
      p
        a.btn.btn-default(role="button" href="http://villainsvictorious.blogspot.com/") Read more &raquo;

      h2 Real as Pixels
      p Fables and fairy tales inspired by the music of Jon Jenkins and others.
      ul
        li
          a(href="/fiction/realaspixels/beast.html") The Beast
        li
          a(href="/fiction/realaspixels/goatherd-and-princess.html") The Goatherd and the Princess
        li
          a(href="/fiction/realaspixels/gamin-and-goatherd.html") The Gamin and the Goatherd
        li
          a(href="/fiction/realaspixels/magician-goes-to-town.html") The Magician Goes to Town

      h2 Learning to write
      ul
        li
          a(href="/fiction/22rules.html") Pixar's 22 Rules of Storytelling
        li
          a(href="/fiction/resources.html") Resources
    div.col-md-4
      h2 Song of Eden
      p A science fiction setting.
      p
        a.btn.btn-default(role="button" href="/fiction/song-of-eden.html") Read more &raquo;

      h2 Game Logs
      p Chat transcripts of online games.
      ul
        li
          a(href="/fiction/futile-octave.html") FUTILE OCTAVE
          br/
          small A CthulhuTech campaign about an archaeological expedition.
        li
          a(href="/fiction/junkyard-heroes.html") Junkyard Heroes
          br/
          small Blue-collar superheroes work with a kindly alien.

      h2 Fictional Worlds
      p Settings without specific stories.
      ul
        li
          a(href="/fiction/falkens-matrix.html") Falken's Matrix
          br/
          small A unified history of the human-AI war.
        li
          a(href="/fiction/force-effect.html") Force Effect
          br/
          small A fusion of Battlestar Galactica, Gundam, Mass Effect, and Star Wars.
        li
          a(href="/fiction/libraria.html") Libraria
          br/
          small Swashbuckling adventure in a world of books come to life.

    div.col-md-4
      h2 Empyrean City
      p Every so often I write some short transhumanist pieces.
      ul
        li
          a(href="/fiction/empyrean-city/drosselmeyers-daughter.html") Drossemeyer's Daughter
          br/
          small Something I want to revisit, having seen "Ex Machina" and "Time of Eve".
        li
          a(href="/fiction/empyrean-city/love-among-the-dead.html") Love Among the Dead
          br/
          small Inspired by #[i Orfeo ed Euridice].
        li
          a(href="/fiction/empyrean-city/the-spire-of-man.html") The Spire of Man

      h2 Life After Death
      p I wrote several stories after thinking about religion, the afterlife, and similar topics.
      ul
        li
          a(href="/fiction/army-of-the-dead.html") Army of the Dead
          br/
          small A military man writes to his brother about his peculiar new posting.
        li
          a(href="/fiction/eternal-slumber.html") Eternal Slumber
          br/
          small My attempt at a "classic horror fiction" piece.
        li
          a(href="/fiction/outlast.html") Outlast
          br/
          small Speculation on the afterlife.
        li
          a(href="/fiction/pray.html") Pray
          br/
          small Justice delayed is justice denied.
        li
          a(href="/fiction/psychopomp.html") Psychopomp
          br/
          small What if God isn't all-knowing?
        li
          a(href="/fiction/uncertainty.html") Uncertainty
          br/
          small The price of quantum immortality is free will.
