---
title: Games
template: basic.jade
---

div.container
  div.row
    div.col-md-4
      h2 Final Fantasy XIV
      p This is my preferred MMO.
      ul
        li
          a(href="http://www.ffxivguild.com/") FFXIV Guild
          br/
          small Leveling guides for all classes and jobs.
        li
          a(href="https://www.reddit.com/r/ffxiv/comments/22p1w8/japanese_atma_farming_theory") Atma farming theory
          br/
          small How to quickly acquire Atma tokens for your relic weapon.
      h2 World of Warcraft
      ul
        li
          a(href="/games/healing-is-the-hardest-role.html") Healing is the Hardest Role
          br/
          small The problems healers face in progression raid content.
        li
          a(href="/games/top-10-warcraft.html") Top 10 Signs You're Watching the Warcraft Movie
          br/
          small How will viewers be able to tell whether the movie lives up to expectations?
    div.col-md-4
      h2 Active RPGs
      p I'm running one game and playing in two more, hosted on Tavern Keeper.
      ul
        li
          a(href="https://www.tavern-keeper.com/campaign/764/latest") Super-Sheriffs of Sagan City
        li
          a(href="https://www.tavern-keeper.com/campaign/751/latest") Heroes Accelerated
        li
          a(href="https://www.tavern-keeper.com/campaign/653/latest") TianXia: Iron, Blood, and Shadow

      h2 Fate Core/FAE
      ul
        li
          a(href="/games/create-advantage-as-combo-builder.html") Create Advantage as Combo Builder
          br/
          small One way to think of Create Advantage in conflicts.
        li
          a(href="http://station53.blogspot.com/2015/01/the-tao-of-fate-creating-challenging.html") Creating Challenging Opponents
          br/
          small Ways to effectively stage a conflict.

      h2 Avengers Accelerated
      p A set of posts describing the Battle of New York from "The Avengers" as a Fate Accelerated Edition conflict.
      ul
        li
          a(href="http://station53.blogspot.com/2014/07/avengers-accelerated-invasion-begins.html") Part 1
        li
          a(href="http://station53.blogspot.com/2014/07/avengers-accelerated-war-part-25.html") Part 2
        li
          a(href="http://station53.blogspot.com/2014/07/avengers-accelerated-avengers-assembled.html") Part 3
        li
          a(href="http://station53.blogspot.com/2014/07/avengers-accelerated-hope-is-lost-part.html") Part 4
        li
          a(href="http://station53.blogspot.com/2014/08/avengers-accelerated-sacrifice-play.html") Part 5
        li
          a(href="https://docs.google.com/document/d/1jdLwE_ayNgjAZuVD0XllUvSJ_r5yJPXBrzMz9YgUGEw/edit") PC Character Sheets
    div.col-md-4
      h2 Fairy Soul
      p A Simple World game about urban fantasy in the 1880s.
      p
        a.btn.btn-default(role="button" href="/games/fairy-soul.html") Read more &raquo;

      h2 Inept Sorcerers
      p This is a small game I put together to test out a new dice mechanic.
      p
        a.btn.btn-default(role="button" href="/assets/rpg/IneptSorcerers.pdf")
          i.fa.fa-file-pdf-o
          | &nbsp;Read more &raquo;

      h2 Procedural Culture Generation
      p I'm writing on Ello about how to generate plausible fictional cultures using Perlin noise and other tools.
      p
        a.btn.btn-default(role="button" href="https://ello.co/astralfrontier") Read more &raquo;
