---
title: Work
template: basic.jade
---

div.container
  div.row
    div.col-md-12
      h1 Work
  div.row
    div.col-md-4
      h2 Résumé
      p You can view my latest résumé online (PDF).
      p
        a.btn.btn-default(role="button" href="/assets/resume.pdf")
          i.fa.fa-file-pdf-o
          | &nbsp;Read more &raquo;
    div.col-md-4
      h2 Employer
      p I'm employed at Tableau in Seattle, as a business systems developer.
      p
        a.btn.btn-default(role="button" href="https://www.tableau.com/") Read more &raquo;
    div.col-md-4
  div.row
    div.col-md-12
      h2 Software
      p
        | I'm a software engineer even in my spare time. I'm always experimenting with new technology and looking for interesting uses for things.
        | Here are some of the projects I'm doing.
  div.row
    div.col-md-4
      h2 Fate Folio
      p A searchable index of Fate-related gaming material.
      p
        a(href="http://fatefolio.com/")
          i.fa.fa-external-link
          = " Website"
        | &nbsp;
        a(href="https://github.com/fatefolio/fatefolio")
          i.fa.fa-github
          = " Github"
    div.col-md-4
      h2 Riff
      p A comedy forum site where anyone can post as any avatar.
      p
        a(href="http://riff.astralfrontier.org/")
          i.fa.fa-external-link
          = " Website"
        | &nbsp;
        a(href="https://github.com/astralfrontier/riff")
          i.fa.fa-github
          = " Github"
    div.col-md-4
      h2 Medley Maker
      p A work in progress for procedurally generating fictional cultures.
      p
        a(href="https://sleepy-stream-9177.herokuapp.com/")
          i.fa.fa-external-link
          = " Website"
        | &nbsp;
        a(href="https://github.com/afgames/medleymaker")
          i.fa.fa-github
          = " Github"
